html,
body {
  margin: 0px;
  padding: 0px;
}
.container {
  position: relative;
  top: 0px;
  left: 550px;
}
#self {
  background: #f00;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 0.3s linear;
}
.btn {
  border: 1px solid #000;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 20px;
  position: absolute;
}
#top {
  top: 0px;
  left: 110px;
}
#bottom {
  top: 220px;
  left: 110px;
}
#left {
  top: 110px;
  left: 0px;
}
#right {
  top: 110px;
  left: 220px;
}
