body
    background #fff

.number
    &__button
        margin-top 10px
        display none

.js-parts-list
    list-style-type none
    li
        float left
        margin-right 20px
        padding 10px
        border 1px solid #eee
        cursor pointer
        &.is-active
            background #eee
