#app {
  background: #ff0000;
  height: 50px;
  width: 50px;
  position: absolute;
  left: 0;
  outline: 1px solid transparent;
  transform: rotate(0.0001deg);
  -ms-transform: rotate(0.0001deg);
}

#jq-app {
  background: #0000ff;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 70px;
  left: 0;
}

#v-app {
  background: #00ff00;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 140px;
  left: 0;
}

#a-app {
  background: #000000;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 210px;
  left: 0;
}