doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet" type="text/css" href="../css/main.css")
        title test
    body
        div#container

            div.js-multi-combination
                select.js-select-number
                    option(value="0") 0
                    option(value="1") 1
                    option(value="2") 2
                select.js-select-fruits(disabled="true")
                    option(value="apple") apple
                    option(value="banana") banana
                    option(value="orange") orange
                button.number__button.js-number-button add
                ul.js-parts-list
                    li hoge1
                    li hoge2
                    li hoge3
                    li hoge4
                div.js-display-box

        script(type="text/javascript" src="../js/main.js")
        script(type="text/javascript" src="../js/ex7.js")
